<div class="about  p-5">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-12">
                <h1>About Component</h1>
                <div class="head d-flex justify-content-center align-items-center ">
                    <div class="line m-2"></div>
                    <i class="fa fa-star "></i>
                    <div class="line m-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p class="text-white">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
            </div>
        </div>
    </div>
</div>
