
h1{
    font-size: 40px;
    font-weight: 700;
    color: #2C3E50;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
}
i{
    color:#2C3E50;
    
    
}
.line{
    height: 4px;
    background-color: #2C3E50;
    width: 80px;
    display: inline-block;

}
input{
    border-top: none;
    border-left: none;
    border-right: none;
}
input:focus{
    box-shadow: none;
}
button{
    background-color: #5CBD9D;
    color: white;
    border: none;
}
button:hover{
    background-color: #5CBD9D;
    color: white;
}