<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../../assets/avataaars.svg" class="w-25 m-5"> 
                <h1>Start Framework</h1>
                <div class="head d-flex justify-content-center align-items-center ">
                <div class="line m-2"></div>
                <i class="fa fa-star "></i>
                <div class="line m-2"></div>
                </div>
                <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
                
            </div>
        </div>
    </div>
</div>
